
li.nav-item {
  background: #ffffff;
  margin-bottom: 1px;
  cursor: pointer;
}

li.nav-item:hover {
  background: #8dc2e4;
}

li.nav-item a {
  color: #495057;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: block;
  background-color: transparent;
}

a:hover {
  color: #495057;
  text-decoration: none;
}

.nav-tabs{
  border-bottom: 0;
}
.nav-tabs .nav-link {
  background: #d0d7db;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #7b8d93;
  width: 49.5%;
  text-align: center;
  font-size: 13px;
  padding: 1rem 1rem;
  border:0;
}
.nav-tabs .nav-link:first-child {
  margin-right: 1px;
}
.nav-tabs .nav-link.active {
  background: #7b8d93;
  color: #ffffff;
}